<?xml version="1.0"?>
<!--
/**
 * Copyright © EzLaunch, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="EzLaunch\FirebaseCloudMessaging\Api\FcmServiceInterface"
                type="EzLaunch\FirebaseCloudMessaging\Model\FcmService" />

    <preference for="EzLaunch\FirebaseCloudMessaging\Api\Data\FirebaseTokenInterface" 
                type="EzLaunch\FirebaseCloudMessaging\Model\FirebaseToken" />
    <preference for="EzLaunch\FirebaseCloudMessaging\Api\FirebaseTokenRepositoryInterface"
                type="EzLaunch\FirebaseCloudMessaging\Model\FirebaseTokenRepository" />
    
</config>