<?xml version="1.0"?>
<!--
/**
 * Copyright © EzLaunch, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="EzLaunch\Sales\Api\OrderRepositoryInterface"
                type="EzLaunch\Sales\Model\OrderRepository" />
    
</config>